{% if unbound_hide_identity is defined and unbound_hide_identity %}
  hide-identity: yes
{% endif %}
{% if unbound_hide_version is defined and unbound_hide_version %}
  hide-version: yes
{% endif %}
{% if unbound_qname_min is defined and unbound_qname_min %}
  qname-minimisation: yes
{% endif %}